---
import Layout from "@/layouts/Layout.astro";
import Experiencie from "@/components/Experiencie.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import BriefCaseIcon from "@/icons/BriefCaseIcon.astro";
import ProjectIcon from "@/icons/ProjectIcon.astro";
import Projects from "@/components/Projects.astro";
import ProfileIcon from "@/icons/ProfileIcon.astro";
import AboutMe from "@/components/AboutMe.astro";
import Hero from "@/components/Hero.astro";
---

<Layout
	title=" Portfolio: Heber Sanchez - Web developer and programmer"
	description="Hire Heber Sanchez to create web applications and develop projects"
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero>
				<slot />
			</Hero>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold pb-8 flex gap-x-3 items-center">
				<BriefCaseIcon class="size-7" />
				Work Experience
			</h2>
			<Experiencie />
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold pb-8 flex gap-x-3 items-center">
				<ProjectIcon class="size-7" />
				Projects
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer id="aboutme">
			<h2 class="text-3xl font-semibold my-8 flex gap-x-3 items-center">
				<ProfileIcon class="size-7" />
				About me
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
