<section
    class="flex flex-col-reverse md:flex-row gap-x-8 justify-center items-center ml-4"
>
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-200">
        <p>
            Hello 👋, I'm Heber, I'm 33 years old, I grew up in Argentina and
            I've been living in Barcelona for several years now. I consider
            myself a very curious person, which led me to delve into web
            development, where I found a constant and rewarding challenge.
        </p>

        <p>
            Currently, I collaborate with ISDI Coders Barcelona acting as a <strong
                >mentor</strong
            > for the students of the Full-Stack Bootcamp, assisting in both emotional
            and technical aspects. Additionally, as a developer, I focus on <strong
                >creating innovative and efficient solutions, transferring best
                practices in web development</strong
            >.
        </p>
        <p>
            With a background in human resources and hospitality, I have
            developed <strong
                >assertive, empathetic, and collaborative soft-skills, where
                teamwork is paramount</strong
            >. My journey in web development began with several courses that
            allowed me to develop my first projects. This led me to want to
            delve deeper, taking a Full-Stack web development bootcamp at ISDI
            Coders in Barcelona. <strong
                >You can hear more about my experience on this
                <a
                    class="text-white opacity-75 underline hover:text-gray-300"
                    target="_blank"
                    href="https://open.spotify.com/episode/46gYHzmZE0qhgEdbAmtMXZ"
                    >podcast</a
                ></strong
            >.
        </p>
    </div>
    <img
        src="/perfilheber.jpeg"
        class="rounded-full size-2/6 hover:scale-125 transition shadow-brightness"
        alt="perfil heber"
    />
</section>
