---
import ExperiencieItem from "./ExperiencieItem.astro";

const EXPERIENCIE = [
    {
        date: "May - Present",
        title: "Mentoring - Bootcamp Full-stack developer | ISDI CODERS",
        description:
            " - Provide technical and emotional guidance to bootcamp students, - resolve technical issues and offered emotional support during their training, - collaborate with instructor to tailor mentoring to student needs",
    },
    {
        date: "January - May, 2024",
        title: "Bootcamp - full-stack developer",
        description:
            "Proficient in Agile, Scrum, TDD, Git, and SOLID principles. Skilled in front-end technologies including JavaScript, React, HTML/CSS, and Tailwind/Sass, as well as back-end tech like MongoDB, Express.js, Node.js, JWT, and CORS. Led development of FutNow App simplifying football match search/booking and Isdigram, a social web platform, both undergoing continuous feature enhancements.",
    },
    {
        date: "May 2023 - Present",
        title: "Freelance developer",
        description:
            "Led the development of the Rock & EDM Festival Website, and rafting a modern, responsive design using HTML, CSS. Additionally, spearheaded the creation of the Café Blog Website, designing an engaging interface with HTML, CSS enabling seamless exploration of diverse articles and coffee-centric content. Currently, actively engaged in the development of new projects.",
    },
    {
        date: " November 2020 - December 2023",
        title: "Administrative - Centre Medic Integral",
        description:
            "As an administrative assistant in a medical clinic, I managed client relations, handled billing for insurance companies, addressed patient complaints, and acted as a liaison between medical and administrative staff. This role enhanced my organizational, customer service, and problem-solving skills, and strengthened my ability to communicate effectively and work collaboratively in a healthcare setting.",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCIE.map((experiencie) => (
            <li
                class="
    mb-10
    ms-4"
            >
                <ExperiencieItem {...experiencie} />
            </li>
        ))
    }
</ol>
