<header
    class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
    <nav class="flex flex-row gap-x-10">
        <a
            class="hover:scale-125 hover:text-red-300 transition"
            href="/#experience">Experience</a
        >
        <a
            class="hover:scale-125 hover:text-blue-300 transition"
            href="/#projects">Projects</a
        >
        <a
            class="hover:scale-125 hover:text-yellow-300 transition"
            href="/#aboutme">About me</a
        >
        <a
            class="hover:scale-125 hover:text-green-400 transition"
            href="https://wa.me/34633825090"
            target="_blank"
            rel="noopener noreferrer">WhatsApp</a
        >
    </nav>
</header>
